* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
}

.container {
  height: 100vh;
}
.container img {
  width: 100%;
  height: 110vh;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}
.main-title {
  position: absolute;
  top: 42%;
  left: 50%;
  font-size: 4rem;
  transform: translate(-50%, -42%);
}
.nav {
  width: 100%;
  position: absolute;
  display: flex;
  padding: 3rem 10rem;
  justify-content: space-between;
  z-index: 3;
}
.content {
  width: 100%;
  background: rgb(255, 255, 255);
  min-height: 110vh;
  z-index: 2;
  position: absolute;
  box-shadow: 0 0 2rem 2rem rgb(255, 255, 255);
}
.content-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.options {
  color: black;
  font-size: 2rem;
  box-shadow: rgb(121, 121, 121);
}

.text {
  padding: 15rem 10rem;
  color: black;
  font-size: 3rem;
  text-align: center;
}

.link {
  color: black;
  font-size: 1.5rem;
}

.score {
  color: black;
  text-align: center;
  font-size: 1.5rem;
  padding-top: 5rem;
}

.thanks {
  color: black;
  text-align: center;
  font-size: 2rem;
  padding: 4rem;
}
